<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <nav
      class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
    >
      <!-- Topbar Navbar -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Enchères</a>
        </li>
        <li class="nav-item">
          <a routerLink="/wishes" class="nav-link">Mes souhaits</a>
        </li>
      </ul>
    </nav>
    <div class="content">
      <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">App Débile de geek</h1>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
